<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.astdev.supmti_examapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SupMTI_ExamApp"
        tools:targetApi="31">
        <activity
            android:name=".Authentification"
            android:exported="false"
            android:label="Authentification"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".UserProfil"
            android:exported="false"
            android:label="Profil d&apos;utilisateur"
            android:parentActivityName=".ShowAllUser" />
        <activity
            android:name=".ShowAllUser"
            android:exported="false"
            android:label="Tous les utilisateurs" />
        <activity
            android:name=".Inscription"
            android:exported="false"
            android:label="Inscription"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>